.cart_content{
    
    .content{
        display: flex;
        align-items: center;
        p{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
        span{
            display: flex;
            flex-wrap: wrap;
            width: 266px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;

            color: #A6A7AB;
        }
    }
    
}