.wrapper{
    margin: 0 auto;
    background-color: #211F20;
    height: 100vh;

    .title_basket{
        padding-top: 45px;
        margin-left: 330px;
        >span{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;
        }
    }

    .basket_h1{
        .line{
            position: relative;
            width: 33px;
            height: 4px;
            background: #618967;
            transform: rotate(90deg);
            top: -17px;
        }
        margin-top: 20px;
        display: flex;
        align-items: flex-end;
        P{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 39px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        span{
            position: relative;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            text-transform: lowercase;
            color: #72A479;
            margin-left: 15px;
            top: -6px;

        }
    }

}

.cartParrent{
    display: flex;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
}

