.card{
    width: 21.4%;
    margin: auto;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    overflow: hidden;

    .card_img{
        width: 100%;

        img{
            display: block;
            width: 100%;
        }
    }
    .info{
        display: flex;
        justify-content: space-between;
        height: 125px;

        .text{
            padding: 0 10px;
            width: 200px;
            .name{
                margin: 5px 0;
                color: white;
                font-family: "Montserrat";
                font-weight: 600;
            }
            .description{
                margin: 5px 0;
                font-size: 9px;
                color: white;
                font-family: "Montserrat";
            }
            .price{
                
                margin: 40px 0;
                color: white;
                font-family: "Montserrat";
                font-weight: 600;
            }
        }
        
        .text_1{
            padding: 0 5px;
            width: 125px;
            .weigth{
                text-align: end;
                color: white;
                font-family: "Montserrat";
                font-size: 10px;
                margin: 10px 10px;
            }
            .button{
                margin-top: 54px;

                button{
                    width: 110px;
                    padding: 10px 10px;
                    border: none;
                    border-radius: 10px;
                    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
                    color: white;
                    img{
                        width: 13px;
                        margin-left: 8px;
                        position: relative;
                        top: 3px;


                    }
                }
            }
        }
    }
}