
.wrapper{

    background: #403C3B;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    .content{
        display: flex;
        align-items: center;
       a{
        text-decoration: none;
       }
    }
    .logo{
        margin-left: 90px;
        margin-right: 70px;
    }

    .input{
        display: flex;
        
        align-items: center;
        background: #504B4A;
        border-radius: 10px;
        width: 555px;
        height: 42px;
        display: flex;
        // justify-content: center;
        align-items: center;
        img{
            margin-left: 20px;
        }
        
    }
    input[type="search"]{
        font-size: 18px;
        color: #fff;
        height: 32px;
        margin-left: 50px;
        width: 400px;
        background: #504B4A;
        border: #504B4A ;
        outline:none
        
    }
    ::placeholder { 
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        // line-height: 21px;
        color: #CFCFCF;
        // padding: 0 50px;
        // text-align:center;
    
    }

}

    .contact{
        display: flex;
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        .call{
            height: 32px;
            width: 32px;
            background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
        p{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #CFCFCF;
            span{color:#FFFFFF;}
            
        }
    }

    .adress{
        display: flex;
        align-items: center;
        // .location{
        //     z-index: 20;
        //     position: absolute;
        //     top: 7px;
        //     left: 10px;
        // }
    }

    .auth{
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;  
        margin-right: 50px;
        .line_auth{
            height: 40px;
            border: 1px solid #635C5A;
            // transform: rotate(90deg);
        }
        >span{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
    }

.basket{
    display: flex;
    align-items: center;
    list-style: none;
    width: 130px;
    height: 45px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    span{
        margin-left: 10px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    .line{
        border: 1px solid rgba(255, 255, 255, 0.3);
        transform: rotate(90deg);
        width: 38px;
    }
    .quantity{
        width:25px;
        height:25px;
        background-color: #fff;
        border-radius: 20px;
        margin-left: -9px;
        span{
            position: relative;
            top: 3.5px;
            left: -1px;
            color: #000;
        }
    }
}