@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Regular.eot');
    src: url('../public/fonts/Gilroy-Regular.eot') format('embedded-opentype'),
    url('../public/fonts/Gilroy-Regular.woff') format('woff'),
    url('../public/fonts/Gilroy-Regular.ttf') format('truetype'),
    url('../public/fonts/Gilroy-Regular.woff2') format('svg');
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}